{% extends 'landing/index.html' %}  
{% block title %}About us{% endblock %}
{% block content %}
<!-- Page content starts here -->
<section class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-7">
                <div class="d-table mb-3">
                    <img src="https://res.cloudinary.com/shojib/image/upload/v1579079597/yoda_branding/about_batmmv.png" alt="about-page-image"
                        class="img-fluid d-table-cell mr-3" style="max-width: 60px;">
                    <h3 class=" app-color-text d-table-cell" style=" vertical-align: middle">About Us</h3>
                </div>
                <p>
                    In simple, Yoda is an online market place where students and parents can find, search for, book, and contact tutors all over Bangladesh to book tuition; be it-person (private tuition), or online (digital whiteboard) with free Sign-Up and without Commission.
                </p>
                <p>
                    There are dreamers and there are doers; we’re a mix of both. We dare to dream, and we dream BIG. The essence of the aim is to convert learning from a chore to an activity, the aim is to make
                    learning enjoyable, the aim is to turn education into pop-culture. The plan is simple; bring everyone (learners, educators, guardians, and enthusiasts) under the roof of the internet and eradicate the burden of Dhaka traffic and crowded classrooms. Our campus? – The World Wide Web!
                </p>
                <p>
                    Introducing YODA, a platform to bridge learners and educators and pave the pathway for a smarter, more digitized Bangladesh. We are deep into the 21st century. Gone are the days of hassle and analog processions, on we move into an era of technological tyranny. We, in Yoda, believe it is time for Bangladesh to spearhead the education reformation through technological advancement. And this is exactly where Yoda acts as the catalyst to the future as we use technology and the internet to educate the country and liberate the brain.
                </p>
                <p class="poppins-Medium">This is Yoda - Learning made simple.</p>
            </div>
            <div class="col-sm-12 col-lg-5 d-flex">
                <div class="my-auto">
                    <img src="https://res.cloudinary.com/shojib/image/upload/v1579083118/yoda_branding/sitting_vqtjp2.png" alt="about-page-image"
                        class="img-fluid d-block m-auto image-margin">
                </div>
            </div>
        </div>
        <div class="row mt-5" id="contact">
            <div class="col">
                <h3 class="app-color-text">Contact us</h3>
                <p>We are available 24/7 so ask us anything about yoda.</p>
                <a href="https://m.me/yodaeducation" class="btn btn-lg message-us-btn px-5"><i class="fa fa-facebook-square"></i> Message us</a>
            </div>
        </div>
    </div>
</section>
<!-- Page contents ends here -->
{% endblock %}

{% block js %}{% endblock %}