{% extends 'landing/index.html' %}  
{% block title %}Privacy Policy{% endblock %}
{% block content %}
<section>
    <h3 class=" app-color-text text-center my-4">Privacy Policy</h3>
    <div class="container margin_60_35 mb-4">
        <div class="row">
            <div class="col-12 col-md-12 terms-and-privacy">
                <section>
                    <h4 class="">
                        Overview
                    </h4>
                    <div class="ml-4">
                        <p>
                            This privacy policy (hereinafter referred to as “Privacy Policy” this “Policy”)is a legally
                            binding agreement between Yoda Technologies Ltd and the User. By using the Website, you
                            agree to the terms of this Privacy Policy and our Terms and Conditions. You should review
                            this Privacy Policy in conjunction with our Terms and Conditions and any other agreement or
                            policy provided by us that governs your use of the Website.
                        </p>
                        <p>
                            Our privacy policy is subject to change at any time without notice. To make sure you are
                            aware of any changes, please review this policy periodically.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        Our purpose and who we are
                    </h4>
                    <div class="ml-4">
                        <p>The purpose of this Privacy Policy is to describe how Yoda Technologies Ltd ("Yoda," "us,"
                            "we," or "our") collects, uses and shares information about you through our online
                            interfaces (e.g., websites and mobile applications) owned and controlled by us, including
                            www.Yoda.com.bd;www.yodabd.com; yoda.mobi; yoda.design; yodaeducation.com; yodatutors.com
                            (collectively referred to herein as the "Website" and/or “Wesbites”). Please read this
                            notice carefully to understand what we do. By mere use of the Website, you expressly consent
                            to our use and disclosure of your personal information in accordance with this Privacy
                            Policy. If you do not understand any aspects of our Privacy Policy, please feel free to
                            contact us. Your use of our Website is also governed by our Terms and Conditions. The Terms
                            and Conditions of the Website form an integral and binding part of this Privacy Policy and
                            unless separately defined, all capitalised terms used in this Privacy Policy shall have the
                            same meaning accorded to such terms in the Terms and Conditions of the Website.
                        </p>
                        <p>
                            Yoda Technologies Ltd is a Bangladesh based company with a principal place of business in
                            Dhaka.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        What Information is covered
                    </h4>
                    <div class="ml-4">
                        <p>
                            This Privacy Policy covers information we collect from you through our Website. Some of our
                            Website’s functionality can be used without revealing any Personally Identifiable
                            Information, though for features, products or services (including Lessons/Products and
                            Services as defined in the Terms of the Website) related to the online classes or tutor
                            selection for in-house tutoring, Personally Identifiable Information is required. In order
                            to access certain features and benefits on our Website, you may need to submit, or we may
                            collect, "Personally Identifiable Information" (i.e., any information that can be used to
                            identify you). Personally Identifiable Information can include information such as your name
                            and email address, among other things.
                        </p>
                        <p>
                            You are responsible for ensuring the accuracy of the Personally Identifiable Information you
                            submit to Yoda. Inaccurate information may affect your ability to use the Website, the
                            information you receive when using the Website, and our ability to contact you. For example,
                            your email address should be kept current because that is one of the primary manners in
                            which we will communicate with you.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        What you agree to by using our site
                    </h4>
                    <div class="ml-4">
                        <p>
                            Please understand that by submitting any Personally Identifiable Information to us, you
                            consent and agree that we may collect, use and disclose such Personally Identifiable
                            Information in accordance with this Privacy Policy and our Terms and Conditions, and as
                            permitted or required by law. If you do not agree with these terms, please do not provide
                            any Personally Identifiable Information to us and do not proceed further to use the Website.
                            If you refuse or withdraw your consent, or if you choose not to provide us with any required
                            Personally Identifiable Information, we may not be able to provide you with the services
                            that can be offered on our Website. Please note that we may also rely on legitimate
                            interests or fulfilment of a contract to continue processing your data.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        What information we collect
                    </h4>
                    <div class="ml-4">
                        <p>
                            We gather two types of information about Users through the Site:
                        </p>
                        <p>
                            Information relating to your use of our Site: When Users come to our Website, we may track,
                            collect and aggregate information indicating, among other things, which pages of our Website
                            were visited, the order in which they were visited, when they were visited, and which
                            hyperlinks were "clicked." We also collect information from the URLs from which you linked
                            to our Website. Collecting such information may involve logging the IP address, operating
                            system and browser software used by each User of the Website. We may be able to determine
                            from an IP address a User’s Internet Service Provider and the geographic location of his or
                            her point of connectivity.
                        </p>
                        <p>
                            We also use (or may use) cookies and web beacons when you visit our Site. For more
                            information, please refer to our section for Cookies.
                        </p>
                        <p>
                            Personally Identifiable Information provided directly by you or via third parties: We
                            collect Personally Identifiable Information that you provide to us when you register for an
                            account, update or change information for your account, purchase products or services,
                            complete a survey, sign-up for email updates or Lesson/Product/Service, participate in our
                            public forums, send us email messages, and/or participate in Lesson/Product/Service or other
                            services on our Website. We may use the Personally Identifiable Information that you provide
                            to respond to your questions, provide you the specific course and/or services you select,
                            send you updates about Lesson/Product/Service offered by Yoda or other Yoda events, and send
                            you email messages about Website maintenance or updates.
                        </p>
                        <p>
                            Account Registration: If you register for an account on our Website, you may be required to
                            provide us with Personally Identifiable Information such as your name and email address.
                        </p>
                        <p>
                            Updates: Yoda may offer you the ability to receive updates either via email or by posting on
                            portions of the Website only accessible to registered users. In order to subscribe to these
                            services, you may be required to provide us with Personally Identifiable Information such as
                            your name and email address.
                        </p>
                        <p>
                            Forums: Yoda may offer public forums from time to time (the "Forums") where you can share
                            comments and thoughts. In order to participate in the Forums, you may be required to
                            register with us and/or provide us with Personally Identifiable Information such as your
                            name and email address. Please keep in mind that information you post or make available in
                            Forums will be available to others in that particular classroom or the public at large. You
                            should not post any Personally Identifiable Information or other information of a personal
                            or sensitive nature, whether relating to you or another person, on a Forum. Please also
                            refer to our <a href="{% url 'landing:terms-and-conditions' %}">Terms and Conditions</a>.
                        </p>
                        <p>
                            Participation in Lesson/Product/Service: Yoda offers users the opportunity to participate in
                            Lesson/Product/Service on or through the Website. If you desire to participate in a course,
                            you will be asked to provide us with certain information necessary to conduct such a course.
                            This information may include, among other things, your name and email address.
                        </p>
                        <p>
                            If you participate in an online course, we may collect certain student-generated content
                            from you, such as assignments you submit to instructors, peer-graded assignments, and peer
                            grading student feedback. We also collect course data, such as student responses to in-video
                            quizzes, standalone quizzes, exams, and surveys. You should not include any Personally
                            Identifiable Information or other information of a personal or sensitive nature, whether
                            relating to you or another person, on assignments, exams, or surveys, except for information
                            required to participate or submit such assignments, exams, or surveys.
                        </p>
                        <p>
                            Identity Verification: Yoda may offer you the ability to verify your identity for selected
                            classes. In order to enrol for these services, you may be required to provide us or our
                            third-party identity verification vendor with Personally Identifiable Information such as
                            your name, address and date of birth.
                        </p>
                        <p>
                            Communications with Yoda: We may receive Personally Identifiable Information when you send
                            us an email message or otherwise contact us.
                        </p>
                        <p>
                            Third Party Sites: We may receive Personally Identifiable Information when you access or
                            log-in to a third party site, e.g., Facebook, from our Website. This may include the text
                            and/or images of your Personally Identifiable Information available from the third party
                            site.
                        </p>
                        <p>
                            Surveys: We may receive Personally Identifiable Information when you provide information in
                            response to a survey is operated by us. This may include details about your race, your
                            education history, and your employment.
                        </p>
                        <p>
                            Partner sites: Partner sites providing Lessons/Products/Servicess related tools and services
                            to Yoda users may collect nonfinancial individual level user data regarding the individual’s
                            use of that partner site while engaged with such Lesson/Product/Service related activities,
                            and the partner sites may share that data with Yoda for the purpose of improving Yoda’s
                            services, the partner site’s services, and the individual’s education experience: This data
                            includes information such as the amount of time spent on the partner site and pages viewed.
                        </p>
                        <p>
                            Third Party Credit Card Processing: Yoda provides you with the ability to pay for
                            Lessons/Products/Services using a credit card through a third-party payment processing
                            service provider/payment gateway system. Please note that in such case it is our service
                            provider – not Yoda – collects and processes your credit card information.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        How we use your information
                    </h4>
                    <div class="ml-4">
                        <p>
                            Information relating to your use of our Site: We use information relating to your use of the
                            Website to build higher quality, more useful services by performing statistical analyses of
                            the collective characteristics and behaviour of our users, and by measuring demographics and
                            interests regarding specific areas of our Website and sharing the information with our
                            vendors/third-party contractors to achieve the aforesaid objectives including any objectives
                            incidental thereto. We may also use this information to ensure the security of our
                            Lessons/Products/Services and the Website.
                        </p>
                        <p>
                            Personally Identifiable Information provided directly by you or via third parties: In
                            addition to the other uses set forth in this Privacy Policy, we may disclose and otherwise
                            use Personally Identifiable Information as described below.
                        </p>
                        <p>
                            Providing the Site and our services: We use Personally Identifiable Information which you
                            provide to us in order to allow you to access and use the Site and in order to provide any
                            information, products or services that you request from us.
                        </p>
                        <p>
                            Updates: We use Personally Identifiable Information collected when you sign-up for our
                            various email or update services to send you the messages in connection with the Website or
                            a Lesson/Product/Service. We may also archive this information and/or use it for future
                            communications with you, where we are legally entitled to do so.
                        </p>
                        <p>
                            Forums: You should not post any Personally Identifiable Information or other information of
                            a personal or sensitive nature, whether relating to you or another person, within a Forum
                            post. If you choose to post Personally Identifiable Information, such Personally
                            Identifiable Information may be collected during your use of the forums. We may publish this
                            information via extensions of our platform that use third-party services, like mobile
                            applications. We also reserve the right to reuse forum posts that contain Personally
                            Identifiable Information in future versions of the courses we offer, and to enhance future
                            course offerings. We may archive this information and/or use it for future communications
                            with you and/or your designee(s), and/or provide it to the University partner, business
                            partner, or the instructor(s) associated with the courses you have taken. We may also use or
                            publish posts submitted on the forums without using Personally Identification Information.
                        </p>
                        <p>
                            Participation in Online Courses: We use the Personally Identifiable Information that we
                            collect from you when you participate in a Lesson/Product/Service through the Website for
                            processing purposes, including but not limited to tracking attendance, progress, and
                            completion of the same. We may also share your Personally Identifiable Information and your
                            performance in a given Lesson/Product/Service with the Tutor(s) who taught the course, with
                            teaching assistants or other individuals designated by the instructor or instructors to
                            assist with the creation, modification or operation of the course, and with the institution
                            or institutions with which they are affiliated. Also, we may archive this information and/or
                            use it for future communications with you, where we are legally entitled to do so.
                        </p>
                        <p>
                            Identity Verification: For services that require identity verification, we use the
                            Personally Identifiable Information that we collect for verifying your identity, and for
                            authenticating that submissions made on the Site were made by you. This service may be
                            provided through a third-party identity verification vendor.
                        </p>
                        <p>
                            Communications with Yoda: When you send us an email message or otherwise contact us, we may
                            use the information provided by you to respond to your communication and/or as described in
                            this Privacy Policy. We may also archive this information and/or use it for future
                            communications with you.
                        </p>
                        <p>
                            Communications with Yoda’s Business Partners: We may share your Personally Identifiable
                            Information with business partners of Yoda so that Yoda’s business partners may share
                            information about their products and services that may be of interest to you where we are
                            legally entitled to do so.
                        </p>
                        <p>
                            Research: We may share general course data (including quiz or assignment submissions,
                            grades, and forum discussions), information about your activity on our Website, and
                            demographic data from surveys operated by us with our partners so that our partners may use
                            the data for research related to online education.
                        </p>
                        <p>
                            Disclosure to Yoda Operations and Maintenance Contractors: We use various service providers,
                            vendors and contractors (collectively, "Contractors") to assist us in providing our products
                            and services to you. Our Contractors may have access to your Personally Identifiable
                            Information in the course of providing their products or services to us, so that we in turn
                            can provide our products and services to you. These Contractors may include vendors and
                            suppliers that provide us with technology, services, and/or content related to the operation
                            and maintenance of the Website or the Products, Services and Contents therein.
                        </p>
                        <p>
                            Government Authorities, Legal Rights and Actions: Yoda may share your Personally
                            Identifiable Information with various government authorities in response to subpoenas, court
                            orders, or other legal process; to establish or exercise our legal rights or to protect our
                            property; to defend against legal claims; or as otherwise required by law. In such cases we
                            reserve the right to raise or waive any legal objection or right available to us. We also
                            may share your Personally Identifiable Information when we believe it is appropriate to
                            investigate, prevent, or take action regarding illegal or suspected illegal activities; to
                            protect and defend the rights, property, or safety of Yoda, the Site, our users, customers,
                            or others; and in connection with our Terms and Conditions and other agreements.
                        </p>
                        <p>
                            Disclosure to Acquirers: Yoda may disclose and/or transfer your Personally Identifiable
                            Information to an acquirer, assignee or other successor entity in connection with a sale,
                            merger, or reorganization of all or substantially all of the equity, business or assets of
                            Yoda to which your Personally Identifiable Information relates.
                        </p>
                        <p>
                            E-Readers: If we receive any Personally Identifiable Information related to the extent to
                            which you use designated e-Readers to access Yoda materials, we may archive it, and use it
                            for research, business, or other purposes.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        Cookies
                    </h4>
                    <div class="ml-4">
                        <p>
                            We transfer cookies, which are small files containing a string of character, to your IP
                            address, giving the browser distinct identification, in order to keep track of the user’s
                            preferences. Furthermore, these files also help in logging in faster and act as a mechanism
                            to determine user trends. The data thus retrieved from the user’s IP address, enables us to
                            enhance our offers, including but not limited to more content in areas of greater interest
                            to a majority of users.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        External Links
                    </h4>
                    <div class="ml-4">
                        <p>
                            For your convenience we may provide links to sites operated by organizations other than Yoda
                            ("Third Party Sites") that we believe may be of interest to you. We do not endorse and are
                            not responsible for the privacy practices of these Third Party Sites. If you choose to click
                            on a link to one of these Third Party Sites, you should review the privacy policy posted on
                            that site to understand how that Third Party Site collects and uses your Personally
                            Identifiable Information.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">Confidentiality and Security</h4>
                    <div class="ml-4">
                        <p>
                            We consider the confidentiality and security of your information to be of the utmost
                            importance. We will use reasonable measures to keep your Personally Identifiable Information
                            confidential and secure and will not wilfully share or authorise its sharing with third
                            parties, except as otherwise provided in this Privacy Policy, or unless such disclosure is
                            necessary in special cases, such as a physical threat to you or others, or as otherwise
                            permitted by applicable law. We do not guarantee the security of Personally Identifiable
                            Information against external threats which are beyond the reasonable control of Yoda and
                            accordingly Yoda shall not be held liable for any unauthorised access and misuse of your
                            Personally Identifiable Information by a third party. It is your responsibility to protect
                            the security of your login information. Please note that e-mail communications are typically
                            not encrypted and should not be considered secure.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">International Privacy Practices</h4>
                    <div class="ml-4">
                        <p>
                            Yoda’s Website is primarily operated and managed on servers located and operated within
                            Bangladesh. In order to provide our products and services to you, we may send and store your
                            Personally Identifiable Information (also commonly referred to as personal data) outside of
                            the country where you reside or are located, including to Bangladesh. Accordingly, if you
                            reside or are located outside of Bangladesh, your Personally Identifiable Information may be
                            transferred outside of the country where you reside or are located, including to countries
                            that may not or do not provide the same level of protection for your Personally Identifiable
                            Information. By using this Website you agree that all your aforesaid information may be
                            stored in the cloud using cloud storage services or in servers/data centres located outside
                            Bangladesh. Provided that in the case of any change in the Bangladeshi law imposing data
                            localization requirements or data-protection requirements, Yoda shall transition its data
                            storage processes and policies to remain compliant with the provisions of the prevailing
                            law, to the extent necessary under the applicable law.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">Governing Law and Jurisdiction</h4>
                    <div class="ml-4">
                        <p>
                            This Privacy Policy shall be construed in accordance with the applicable laws of Bangladesh.
                            Both parties agree to submit any dispute arising under this Policy to the jurisdiction of a
                            court located in Dhaka - for any actions for which the parties retain the right to seek
                            injunctive or other equitable relief in a court of competent jurisdiction to prevent the
                            actual or threatened infringement, misappropriation or violation of a party’s copyrights,
                            trademarks, trade secrets, patents, other intellectual property rights, or any provision of
                            this Policy.
                        </p>
                    </div>
                </section>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
</section>
<!-- Page contents ends here -->
{% endblock %}

{% block js %}{% endblock %}