{% extends 'landing/index.html' %}  
{% block title %}Terms and conditions{% endblock %}
{% block content %}
<!-- Page content starts here -->
<section>
    <h3 class=" app-color-text text-center my-4">Terms and Conditions</h3>
    <div class="container margin_60_35  mb-4">
        <div class="row">
            <div class="col-12 col-md-12 terms-and-privacy">
                <section>
                    <h4 class="">
                        1. General
                    </h4>
                    <div class="ml-4">
                        <p>
                            These Terms and Conditions (“Terms”) apply to all websites, services, software, and mobile
                            applications provided by Yoda Technologies Ltd. (“Yoda”, “we”, “us” or “our”), including the websites
                            www.yoda.com.bd; www.yodabd.com; yoda.mobi; yoda.design; yodaeducation.com; yodatutors.com
                        </p>
                        <p>
                            The website and all applications are collectively hereinafter referred to as the “Website”
                            and/or “Websites”.
                        </p>
                        <p>
                            Yoda is an online educational platform with the objective of providing both online and in-house
                            lead generation services to those providing academic tutoring services as well as those seeking
                            academic tutoring services. Yoda acts as a platform or online marketplace providing the
                            opportunity to service providers and service seekers to exchange/deal in/trade in educational
                            services such as academic tutoring services etc. Yoda may also provide education and educational
                            resources, tools and services through the use of technology to Students, Parents and Teachers
                            such as virtual/online classes, video tutorials/lessons, online assessments etc.
                        </p>
                        <p>
                            The following Terms together with our Privacy Policy form an integral part of the overall terms
                            governing our relationship with you and amount to a binding contract between Users and Yoda. If
                            you do not agree to any of these Terms, please do not proceed or continue to use the Website and
                            leave the Website immediately. By continuing to use the Website and/or the Products and/or
                            Services contained therein you agree to be bound by these Terms.
                        </p>
                        <p>
                            Yoda reserves the right to amend or modify these Terms at any time at its discretion without
                            prior notice. In case of such amendment or modification of the Terms, the Terms as amended shall
                            have immediate effect. Yoda reserves the right to exclude and/or bar any User from use of the
                            Website or any of the Services contained therein without prior notice if the User is in
                            violation of any of the Terms.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        2. Definitions
                    </h4>
                    <div class="ml-4">
                        <p>
                            2.1 “Content” means all information, designs, graphics, interface, logos, marks, text, audio,
                            video, tools, documents, exercises, resources and educational and non-educational material in
                            audio, visual, textual or other format that is present on the Website, whether such Content is
                            held in viewable, streamable, downloadable or other format.
                        </p>
                        <p>
                            2.2 “Customer(s)” means any person who may be a prospective student or a parent or guardian of a
                            student who makes any purchase to use the Services of a Tutor or any Product through the
                            Website;
                        </p>
                        <p>
                            2.3 “Lesson” means audio, video or text lectures, tutoring services and/or other academic
                            resources delivered by Tutors (as defined below) either through the Website using virtual
                            classrooms or on-site at Customers’ residences, Tutors’ residences or other venues to Users or
                            Customers, as applicable;
                        </p>
                        <p>
                            2.4 “Member(s)” means any person, whether a Customer, Tutor or User who completes the Yoda
                            membership registration process and opens a personal profile on the Website.
                        </p>
                        <p>
                            2.5 “Premium Account” means the premium account containing additional features for Users of such
                            account as may be provided by Yoda from time to time in exchange for a prescribed service fee.
                        </p>
                        <p>
                            2.6 “Product” means any physical or virtual good, including software capable of being expressed,
                            transmitted and/or used in whatever format that is made available for sale on the Website by
                            Yoda or by other means to Customers, whether actual or potential.
                        </p>
                        <p>
                            2.7 “Service” means any educational or learning resources including Lessons delivered and/or
                            sold online through the Website to Customers or the formal selection/contracting of any Tutor by
                            the Customers or Users through the Website for in-house in person or online tutoring services;
                        </p>
                        <p>
                            2.8 “Tutor(s)” means any person described as a “Teacher” or “Tutor” on the Website delivering
                            academic resources and/or Lessons or Content whether in-house in person or virtually (online or
                            other means); and
                        </p>
                        <p>
                            2.9 “User(s)” means any person who accesses and/or uses the Website including Tutors and
                            Customers, whether or not such person purchases any of the Products and/or Services on the
                            Website including students seeking tutoring services as well as parents and/or guardians of
                            students seeking tutoring services;
                        </p>
                        <p>
                            2.10 “Verified”, “Verification” or “Verify” (as applicable) means the independent verification
                            and due-diligence undertaken by Yoda in relation to the academic credentials and background of
                            Tutors at its sole discretion on the basis of information reasonably available and on the basis
                            of reasonably procured indemnities and/or declarations of compliance with law.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        3. Terms of Use
                    </h4>
                    <div class="ml-4">
                        <p>
                            3.1 All Users of the Website desirous of qualifying as a Tutor or Customer with Yoda must
                            complete the Member registration process contained on the Website by providing full disclosure
                            of material information and accurate, up-to-date required personal information;
                        </p>
                        <p>
                            3.2 In case of underage minors, legal guardians of the said minors may complete the Member
                            registration process on behalf of said minors;
                        </p>
                        <p>
                            3.3 The use of any of the Products or Services contained on the Website offered by a Tutor to a
                            Customer amounts to a contractual relationship between the said parties and does not amount to a
                            contractual relationship between Yoda and the Tutor or Customer;
                        </p>
                        <p>
                            3.4 The relationship between Yoda and the Tutors and/or Customers is not one of principal-agent,
                            employer-employee or of a similar nature and Yoda fully excludes all responsibility and
                            liability arising from any negligent or illegal acts or omissions committed by the Tutors and/or
                            Customers towards each other.
                        </p>
                        <p>
                            3.5 The Website provides lead generation services to Users and Tutors and therefore is a
                            platform and/or marketplace for Tutors and Customers to contract with each other and Tutors and
                            Customers contract with each other respectively solely at their own risk and responsibility.
                        </p>
                        <p>
                            3.6 Yoda shall undertake a review and assessment of the profiles and information submitted by
                            Tutors regarding the respective Tutors’ academic qualifications, achievements and credentials at
                            its sole discretion and endeavor to the extent reasonably necessary to verify the accuracy of
                            the information provided to mark them as “Verified” Tutors on the Website. In this regard Yoda
                            reserves absolute discretion in its decision to accept or reject profiles of tutors/applicants
                            who wish to be enlisted as tutors on the Website, and if in the sole opinion of Yoda management
                            the applicant/candidate is unsuitable to be enlisted on the Website as a tutor, then he/she
                            shall not be enlisted as a Tutor and may not be marked as a Verified Tutor. All decisions taken
                            by Yoda in this regard shall be treated as final.
                        </p>
                        <p>
                            3.7 Yoda cannot and does not guarantee a perfect match with the criteria selected by the Users
                            for their desired tutors. Users may select their preferences with criteria for their desired
                            tutors. While Yoda may reasonably endeavour to provide tutors meeting such selected criteria and
                            notify Users of the same, Yoda remains under no obligation to do so and cannot be held
                            responsible for any failure to do so. Further, signing up with the Yoda website does not
                            guarantee a listing in the website’s search results, as Yoda shall optimize search results at
                            its sole discretion to list appropriate candidates following the criteria that Yoda sees fit.
                        </p>
                        <p>
                            3.8 Upon request of enrolment into any Lesson or request for purchase/hire of any Product and/or
                            Service by a Customer, Yoda reserves the right to accept or refuse such request at its sole
                            discretion.
                        </p>
                        <p>
                            3.9 Confirmations of enrolment into a course or Lesson or confirmation of any student or
                            tutor/teacher shall be sent by email and/or text message on mobile phone (depending upon the
                            selection by the Customer and Tutor on the Website) from Yoda to the concerned Customer as well
                            as the Tutor.
                        </p>
                        <p>
                            3.10 Yoda does not take responsibility of any outcome-based achievements or results for Users as
                            a consequence of using Products and/or Services availed through the Website, including any
                            changes in academic grades achieved by Customers (students) or other results. Tutors provide
                            their services independently and not on behalf of Yoda and accordingly outcomes such as grades,
                            examination and/or test marks, results or other student performance indicators are the personal
                            responsibility of Customers (students) and is beyond the control of Yoda.
                        </p>
                        <p>
                            3.11 Yoda only provides lead generation / matchmaking services between tutors and aspiring
                            students and is therefore not responsible for the actions of either party. Customers (legal
                            guardians of underage minor students) must take the responsibility for the safety and security
                            of their children / underage minors in their custody and adult Customers shall be responsible
                            for their own safety and security.
                        </p>
                        <p>
                            3.12 It is the responsibility of Customers to take appropriate security and safety measures
                            before permitting Tutors to enter their homes, offices or other premises or allowing them to
                            deliver Lessons to underage minor students whether under supervised conditions or not. Yoda
                            shall neither be responsible for any acts or omissions by Tutors, Customers and/or underage
                            minor students nor shall it be responsible for any occurrences of acts of god/force majeure, any
                            consequences or losses arising therefrom.
                        </p>
                        <p>
                            3.13 In the event of any criminal or civil offences committed by a User or Tutor in the course
                            of delivering Services/Lessons, Yoda may at its discretion extend assistance as it deems
                            reasonably necessary to enable a credible police investigation, inquiry or action. Such
                            assistance shall be limited to sharing appropriate information with the law enforcement or
                            appropriate/competent authorities or parties to the extent it is readily available to Yoda and
                            it shall not be the responsibility of Yoda to search for, recover, demand, retrieve or extract
                            any other information or evidence beyond that which it holds for the purposes of operating the
                            Website and providing Products and Services.
                        </p>
                        <p>
                            3.14 By using the Website and any of the Products and/or Services contained therein each such
                            respective party, whether a Tutor, User or Customer agrees to fully indemnify Yoda for any and
                            all losses, damages and/or costs arising out of their willful negligence, omission or commission
                            of any criminal or civil offence under the laws of Bangladesh, including but not limited to any
                            malicious attacks on the Website, transfer or transmission of any malware, viruses or computer
                            programmes that have or have the potential to damage or compromise the integrity and/or security
                            of the Yoda Website and its corresponding systems, networks and servers and/or loss, damage or
                            corruption to any of Yoda’s files or data as well as the computers, networks, systems, data,
                            files and/or servers of Yoda Users. Yoda reserves the right to take legal action against any
                            party such action including claims for damages, injunctions, other equitable relief or criminal
                            sanctions, notwithstanding the fact that such party may not be a direct User of the Website
                            provided that the direct or indirect act or omission by such party has caused any damage,
                            destruction as aforesaid or caused the loss or corruption of any data or files in Yoda’s
                            Website, computer systems, servers or networks.
                        </p>
                        <p>
                            3.15 Yoda does not encourage, support or endorse personal, social or other relationships or
                            interaction between Tutors and Users beyond the professional context of delivering
                            Services/Lessons. Parties engaging in any interaction beyond such context do so at their own
                            risk and responsibility and Yoda does not take any responsibility for any consequences arising
                            therefrom.
                        </p>
                        <p>
                            3.16 “HOT JOBS” advertised on Yoda is a Premium Account feature available for Premium Account
                            holders on Yoda, whereby available job offers are shown to eligible Users but the success of
                            securing such jobs are not guaranteed. The listing of available jobs visible to Users holding a
                            Premium Account are determined by the job preferences set by the respective Users and as such
                            Yoda shall not be liable for unavailability of jobs or non-visibility of any search results for
                            this feature if the preferences set by the respective Users do not match the available jobs or
                            if there is any technical glitch in the system.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        4. Payment Method
                    </h4>
                    <div class="ml-4">
                        <p>
                            4.1 Tutors shall select their chargeable hourly/daily/monthly rate(s) or rates on a ‘per-course’
                            basis in BDT to be advertised on the Website.
                        </p>
                        <p>
                            4.2 Tutors undertake, by agreeing to these Terms to provide 1(one) hour of tutoring services to
                            each of their new Customers/students free of any charge.
                        </p>
                        <p>
                            4.3 For all Lessons/Products/Services delivered online directly through the Website all payments
                            of fees payable by Users/Customers shall be made directly to Yoda using the Website (and as
                            directed to a payment services gateway). Yoda shall deduct a service charge equivalent to 10-25
                            % of the total payment amount (excluding taxes) and transfer the balance amount to the
                            respective Tutor’s registered bank account within 30 (thirty) days of receiving the payment from
                            the User/Customer.
                        </p>
                        <p>
                            4.4 For all Lessons/Products/Services delivered offline directly by the Tutors at the
                            User/Customer’s site, all payment of fees payable by Users/Customers shall be made directly to
                            the respective Tutor. Yoda shall not accept any responsibility or liability for non-payment of
                            fees to the Tutor in such cases. Yoda shall be entitled to an amount equivalent to 10-25 % of
                            the total payment amount (excluding taxes) and the same shall have to be paid by the Tutor into
                            Yoda’s nominated bank account within 10 (ten) days of receiving the payment from the
                            User/Customer.
                        </p>
                        <p>
                            4.5 Yoda shall not be held liable for any losses including consequential losses caused by the
                            failure and/or technical faults, errors of the payment gateway system/payment services operator
                            (PSO).
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        5. Intellectual Property
                    </h4>
                    <div class="ml-4">
                        <p>
                            5.1 All rights, including copyright, in relation to and arising from Products, Services and
                            Content in this Website are owned by or licensed to us. Any use of this Website or its contents,
                            including copying or storing it or them in whole or part, other than for your own personal,
                            non-commercial use is prohibited without our permission. You are prohibited from modifying,
                            copying, distributing, transmitting, displaying, printing, publishing, selling, licensing,
                            creating derivative works or using any content available on or through our Website for
                            commercial or public purposes. You shall not modify, distribute or re-post something on this
                            Website for any purpose.
                        </p>
                        <p>
                            5.2 The Website contains copyrighted material, trademarks, and other proprietary information,
                            including, but not limited to, text, books, software, photos, video, graphics, music, sound, and
                            the entire contents of Yoda protected by copyright as a collective work under the applicable
                            copyright laws. Yoda owns a copyright in the selection, coordination, arrangement, and
                            enhancement of such content, as well as copyright or license to use in the content original to
                            it. You may not modify, publish, transmit, participate in the transfer or sale, create
                            derivative works, or in any way exploit, any of the Content, in whole or in part. You may
                            download/print/save copyrighted material, if provided and expressly permitted by Yoda, for your
                            personal use only (subject only to gaining lawful access to the same). Except as otherwise
                            expressly stated under copyright law, no copying, and re-distribution, retransmission,
                            publication or commercial exploitation of downloaded material without the express permission of
                            Yoda is permitted. If copying, redistribution or publication of copyrighted material is
                            expressly permitted by Yoda in writing, no changes in or deletion of author attribution,
                            trademark legend or copyright notice shall be made.
                        </p>
                        <p>
                            5.3 You acknowledge that you do not acquire any ownership rights by downloading copyrighted
                            material. Trademarks that are located within or on our Website or a website otherwise owned or
                            operated in conjunction with Yoda shall not be deemed to be in the public domain but rather the
                            exclusive property of Yoda, unless such site is under licence from the trademark owner thereof
                            in which case such license is for the exclusive benefit and use of Yoda, unless otherwise
                            stated.
                        </p>
                        <p>
                            5.4 Yoda does not have any express burden or responsibility to provide you with indications,
                            markings or anything else that may aid you in determining whether the material in question is
                            copyrighted or trademarked. You shall be solely liable for any damage resulting from any
                            infringement of copyrights, trademarks, proprietary rights or any other harm resulting from such
                            a submission.
                        </p>
                        <p>
                            5.5 Users are prohibited to access or attempt to access or modify, alter, delete or destroy any
                            information hosted on the Website and/or its servers and/or network of Yoda. Any attempt to
                            commit such prohibited act whether directly or indirectly is liable to civil and criminal
                            sanctions and legal action by Yoda.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        6. Security and Personal Information
                    </h4>
                    <div class="ml-4">
                        <p>
                            Yoda reserves the right to disclose, share or transfer information relating to any User of the
                            Website to law enforcement agencies and/or relevant government authorities for the purposes of
                            any criminal investigation, trial or security concern raised by any authority or security agency
                            of the Government of Bangladesh or in any competent court of law or tribunal or for the purposes
                            of any regulatory compliance that may require Yoda to extend cooperation and/or disclose such
                            information to the concerned persons.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        7. Cookies
                    </h4>
                    <div class="ml-4">
                        <p>
                            The Website may use cookies, which means that you must have cookies enabled on your computer in
                            order for all functionality on this site to work properly. A cookie is a small data file that is
                            written to your hard drive when you visit certain websites. Cookie files contain certain
                            information, such as a random number user ID that the site assigns to a visitor to track the
                            pages visited.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">
                        8. Governing Law
                    </h4>
                    <div class="ml-4">
                        <p>
                            Yoda is governed by the laws of Bangladesh. Users agree that Bangladesh courts will have
                            jurisdiction over any dispute or claim relating to the use of the Website or any Services or
                            Products offered by Yoda.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">9. Refund Policy</h4>
                    <div class="ml-4">
                        <p>
                            9.1 If the account held with Yoda by any Tutor is hacked or compromised either due to the
                            negligence of the Tutor or due to the illegal actions of a third-party, Yoda shall not be liable
                            for any losses arising from the hacked or compromised account and Yoda shall not be liable to
                            issue any refunds for the Tutors’ funds which have been lost or stolen. For any sort of
                            technical issue, if we charge any money from the parents/students or Tutors, Yoda would not
                            refund that money.
                        </p>
                        <p>
                            9.2 Yoda shall not be held liable for the failure and/or technical faults, errors and/or
                            consequential losses arising from a defect in the payment system gateway/payment service
                            operator’s (PSO) website or system.
                        </p>
                        <p>
                            9.3 Users may apply for a refund request to Yoda by email. All requests for refund must be made
                            within 7 (seven) days of making the payment and shall be dealt by Yoda in accordance with any
                            specific provisions on cancellation policy (if any) in the specific Product/Service/Lesson.
                        </p>
                        <p>
                            9.4 Yoda shall only issue a full refund to the respective User/Customer in the event a
                            Lesson/Product/Service is cancelled before it is commenced and after the User/Customer has made
                            the relevant payment. Accordingly Yoda shall withhold relevant payments to the Tutor in case of
                            such cancellation. In case of cancellation of the Lesson/Product/Service after partial delivery
                            of the same, the terms of refund and payment to the Tutor shall be determined by the relevant
                            cancellation and refund terms of the specific Lesson/Product/Service.
                        </p>
                        <p>
                            9.5 Yoda shall review all requests for refund with a decision within 15 (fifteen) working days
                            from receipt of such request. If Yoda takes the decision to refund the payment, such refund
                            shall be effected within 10 (ten) working days of communicating the decision, subject to usual
                            banking processes and checks.
                        </p>
                        <p>
                            9.6 No refunds shall be made for cancellations/cancellation requests made after completion of
                            the relevant Lesson/Product/Service.
                        </p>
                        <p>
                            9.7 Once a contract has been concluded between the Tutor and the Customer, Yoda shall not refund
                            any money to either party for any disagreement or dispute arising between them or any reasons
                            which Yoda deems in its sole discretion to be invalid or inappropriate.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">10. Validity of Prices and Offers</h4>
                    <div class="ml-4">
                        <p>
                            10.1 All prices and offers including any discounts or promotional offers that are provided on
                            the Website by Yoda may be subject to a specific period of time.
                        </p>
                        <p>
                            10.2 Yoda reserves the right to increase, decrease or otherwise modify the prices of any
                            Products, Services and/or Lessons and/or extend or reduce the duration of any such Products,
                            Services and/or Lessons at any time at its discretion with immediate effect to the Users.
                        </p>
                        <p>
                            10.3 In addition to the charges/fees for Lessons/Products/Services Yoda reserves the right to
                            charge for any other aspects of the Website including but not limited to additional charges for
                            providing Premium Account features, additional information, tips, resources, cash and/or
                            non-cash benefits and credits for other third-party goods and services to both Users/Customers
                            and Tutors;
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">11. Indemnification</h4>
                    <div class="ml-4">
                        <p>
                            Users agree to indemnify Yoda as well as its officers, authorized representatives, employees,
                            agents, from and against all losses, expenses, damages and costs, including attorney's fees,
                            resulting from any violation of these Terms (including negligent, wrongful or other unlawful
                            conduct).
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">12. Privacy and Storage of Data</h4>
                    <div class="ml-4">
                        <p>
                            12.1 Yoda may collect personal and other types of information from Users. It is a condition that
                            the use of the Website assumes that the User consents and authorizes Yoda to collect and use
                            this information for lawful purposes. Yoda also reserves the right to disclose the collected
                            information with any other person for the purposes of administering, supporting and maintaining
                            the Website and the Services provided herein, as well as for improving the Website and Services,
                            for example by using the information for research, marketing, product development and planning
                            purposes.
                        </p>
                        <p>
                            12.2 By sharing personal information with Yoda and accepting these Terms, Tutors hereby
                            agree:
                        </p>
                        <div class="ml-3">
                            <p>
                                (i) to allow publishing, publicizing, displaying and/or otherwise listing their relevant
                                information on the Website and other parts of the internet (such as advertisements on social
                                media and elsewhere on the internet) in the manner and to the extent Yoda considers
                                reasonably
                                necessary to communicate relevant information regarding the relevant Lesson/Product/Service
                                to
                                Yoda’s intended customers.
                            </p>
                            <p>
                                (ii) to allow sharing of personal contact information of the respective Tutors with
                                Users/Customers after acceptance by the Tutors to deliver a Lesson/Product/Service to the
                                said
                                Users/Customers.
                            </p>
                            <p>
                                (iii) to hold harmless Yoda as well as its officers, authorized representatives, employees,
                                agents, from and against all losses, expenses, damages and costs, including attorney's fees,
                                resulting from any intentional or unintentional misuse or damage to the Website by any third
                                party or rogue employee of Yoda acting beyond his/her legitimate authority.
                            </p>
                        </div>
                        <p>
                            12.3 By sharing personal information with Yoda and accepting these Terms, Users/Customers hereby
                            agree:
                        </p>
                        <div class="ml-3">
                            <p>
                                (i) to allow transfer, transmission or otherwise sharing of their relevant information in
                                the manner and to the extent Yoda considers reasonably necessary to enable the delivery of
                                the relevant Lesson/Product/Service to Yoda’s intended customers.
                            </p>
                            <p>
                                (ii) to hold harmless Yoda as well as its officers, authorized representatives, employees,
                                agents, from and against all losses, expenses, damages and costs, including attorney's fees,
                                resulting from any intentional or unintentional misuse or damage to the Website by any third
                                party or rogue employee of Yoda acting beyond his/her legitimate authority.
                            </p>
                        </div>
                        <p>
                            12.4 For further details on the handling of User information, please refer to the Yoda
                            <a href="{% url 'landing:privacy-policy' %}">
                            Privacy Policy
                            </a>
                            available on the Website.
                        </p>
                        <p>
                            12.5 By using this Website you agree that all information including information of Users and
                            Tutors may be stored using cloud storage services or in servers/data centres located outside
                            Bangladesh. Provided that in the case of any change in the Bangladeshi law imposing data
                            localization requirements or data-protection requirements, Yoda shall transition its data
                            storage processes and policies to remain compliant with the provisions of the prevailing law, to
                            the extent necessary under the applicable law.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">13. Behavioural Policies</h4>
                    <div class="ml-4">
                        <p>
                            13.1 The Tutors undertake to be punctual and professional in delivering
                            Lessons/Products/Services both online and in-house (offline).
                        </p>
                        <p>
                            13.2 Tutors and Users/Customers must be professional and respectful in all their dealings and
                            interactions with each other.
                        </p>
                        <p>
                            13.3 Tutors and Users/Customers shall endeavour to resolve any disputes and/or conflicts between
                            themselves amicably in the first instance before resorting to any litigation in the courts of
                            Bangladesh.
                        </p>
                    </div>
                </section>
                <section>
                    <h4 class="">14. Miscellaneous</h4>
                    <div class="ml-4">
                        <p>
                            14.1 Yoda reserves the right to, at its discretion, modify or change the scope and materials
                            contained in its Lessons/Products/Services and Content, including the price and other terms of
                            the Lessons/Products/Services provided to the Users/Customers without prior notice to the
                            Users/Customers. Provided that Users/Customers already enrolled in specific
                            Lessons/Products/Services shall not be affected by price changes for the said specific
                            Lessons/Products/Services.
                        </p>
                        <p>
                            14.2 Yoda is not liable to refund any money or provide any compensation or damages if a
                            User/Customer is barred from using the Website or any of the Services of Yoda for any reason
                            beyond the control of Yoda including force majeure and other technical downtime, security
                            barriers, browser compatibility issues or internet connectivity problems.
                        </p>
                        <p>
                            14.3 Yoda holds the right to withdraw any Lessons/Products/Services or revoke the right of any
                            User/Customer from using the Website.
                        </p>
                        <p>
                            14.4 Yoda is not liable for any injury, claim, liability or damages arising out of, any error or
                            omission on the Website or any of the third party links accessed through the Website.
                        </p>
                        <p>
                            14.5 Yoda shall not be held liable for any disruption to the Website or any of the Products,
                            Services or Lessons caused due to force majeure events.
                        </p>
                        <p>
                            14.6 All Users are prohibited from posting any illegal, offensive or defamatory content on our
                            Website. Any such content posted on the Website is neither endorsed nor supported by Yoda and
                            Yoda shall not be held responsible for the same. Civil and/or criminal actions may be brought
                            against Users/Customers who are in violation of this clause.
                        </p>
                    </div>
                </section>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
</section>
<!-- Page contents ends here -->
{% endblock %}

{% block js %}{% endblock %}