{% extends 'landing/index.html' %}  
{% block title %}Tips for parents and tutors{% endblock %}
{% block content %}
<!-- Page content starts here -->
<section>
    <div class="container margin_60_35 poppins-Regular py-4">
        <div class="row">
            <div class="12 p-4">
                <div class="tips">
                    <h4 class="app-color-text mb-4">
                    Tips for parents</h2>
                    <ul>
                        <li>
                            <p>
                                Provide all the relevant information: Yoda bridges your child to the best fitting tutor on our platform. So, in order to find the most suitable tutor, you should provide all the relevant information about your child.
                            </p>
                        </li>
                        <li>
                            <p>
                                Be transparent: Be as clear as possible about your needs and requirements from the tutor. If you have any special or extraordinary needs, do not hesitate to write a personalized note. Also, address terms and conditions with the tutor like tuition fees and schedules.
                            </p>
                        </li>
                        <li>
                            <p>
                                Stay active and connected: Once a tutor accepts your job offer, they will try to contact you through call or SMS. Please be sure to keep the number that you provide is active at all times, to ensure smooth communication.
                            </p>
                        </li>
                        <li>
                            <p>
                                First meeting a tutor session: It is advisable to have your first meeting at a public space where both parties feel comfortable and secure. You can also monitor the first tutoring session to judge behavior and their teaching style.
                            </p>
                        </li>
                    </ul>
                    <h4 class="app-color-text mt-5 mb-4" id="for-tutors">
                    Tips for Tutors</h2>
                    <ul>
                        <li>
                            <p>
                                Provide all the relevant information: Yoda bridges you with students that are looking for tutors just like you! In order to find the right kind of job posts, be sure to provide all your relevant information.
                            </p>
                        </li>
                        <li>
                            <p>
                                Don’t be too demanding: Yes, parents can be frugal at times but civil negotiation can really do the trick! You are free to negotiate tuition fees, schedules, etc. Just be sure to be within acceptable bounds.
                            </p>
                        </li>
                        <li>
                            <p>
                                Stay active and connected: Once a job has been confirmed, you can contact the parent and vice versa. So, be sure to have an active cell phone to stay updated.
                            </p>
                        </li>
                        <li>
                            <p>
                                First meeting and tutor session: It is advisable to have your first meeting at a public space where both parties feel comfortable and secure. When you go over to your student’s house, be sure to have your phone active and charged. In your first tutor lesson try to prove to the parent that the student is comfortable with your teaching style and exercise your best behavior.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /col -->
        </div>
        <!-- /row -->
    </div>
</section>
<!-- Page contents ends here -->
{% endblock %}

{% block js %}{% endblock %}